
:root {
  --primary-font: "Roboto", sans-serif;  /* main font on the page */
  --logo-font: "Raleway", sans-serif; /* font in logo */
  --primary-color: #212121; /* main text color on the page headers */
  --secondary-color: #757575; /* color for box descriptions and phone */
  --dark-background-color: #2f303a; /* dark background color for header and footer */
  --second-background-color: #f5f4fa; /* background color in nasz zesół section and portfolio project */
  --logo-studio-color: #000000;
  --span-logo-color: #2196F3; /* color for webstudio and hover */
  --thirt-color: #FFFFFF; /*color for main headline and button text inside */
}
body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.header-link,  /* header menu */
.contact-link,
.link-logo {
  text-decoration: none
}

    .header-menu-item,  /* contact list in header with no bulletpoint */
    .header-contact-list {
     list-style: none;
  }
.link-logo {
  color:#000000;
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: var(--logo-studio-color);
}

 .logo-first {  /*logo webstudio first blue part */
  color: var(--span-logo-color);
 }

.header-link{   /* header link to agencja portfolio kontakt */
  font-weight: 500;
  line-height: 1.17;
  color: var(--primary-color);
}

.header-link:hover,  /*pseudoclasses of link special state */
.header-link:focus,
.contact-link:hover,
.contact-link:focus {
 color: var(--span-logo-color);
}

.contact-link {  /* link to email and tel */
  color: var(--secondary-color);
  font-weight:  500 ;
  line-height: 1.17;
}

.main-headline {  /* header main heading and button */
  text-align: center;
  background-color: var(--dark-background-color);
}
.main-headline-item {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirt-color);
}

.main-button {  /* main button zamow usługe*/
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  background-color: var(--span-logo-color);
  color: var(--thirt-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.description-item {
  list-style: none;
}

.description-name {  /* lorem ipsum headers */
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase
}

.description-paragraph {  /*lorem ipsum paragraph description */
font-weight: 400;
line-height: 1.71;
color: var(--secondary-color);
 }

 .service-main-title {  /* czym sie zajmujemy title */
font-size: 36px;
font-weight: 700;
line-height: 1.17;
text-align: center;
color: var(--primary-color);
 }

 .what-we-do-box {  /* 3 images under czym sie zajmujemy */
  list-style: none;
 }

.team {   /* nasz zespól background color*/
  background-color: var(--second-background-color);
}
.team-card-item {
  list-style: none;
}

.our-team-header {  /* nasz zespół header */
color: var(--primary-color);
font-size: 36px;
font-weight: 700;
line-height: 1.17;
text-align: center;
}

.our-team-header::first-letter {
text-transform: uppercase;
}

.card-name {  /*john doe name card */
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
}

.card-description {  /*john doe profession */
color: var(--secondary-color);
font-size: 16px;
font-weight: 400;
line-height: 1.12;
}
.footer {
  background-color: var(--dark-background-color);
}
.link-footer, 
.link-footer-logo {
  text-decoration: none;
}

.link-footer-logo {  /*footer logo */
  color:#000000;
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: var(--logo-studio-color);
}

.link-footer-logo,
.link-footer,
.footer-contact-name {
color: var(--thirt-color);
}

.link-footer,
.footer-contact-name {
  list-style: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-color);
}

.footer-contact-name:hover,    
.link-footer:hover,
.footer-contact-name:focus,
.link-footer:focus {
  color: var(--span-logo-color);
}

.footer-address {
  color: var(--thirt-color);
  font-style: normal;
}

.list-item,  /* portfolio website  buttons section as header is the same*/
.card {
  list-style: none;
} 

.list-button {  /*buttons in main section */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  width: 93px;
  height: 38px;
  background-color: var(--second-background-color);
}

.list-button:focus,  /*button pseudoclasses */
.list-button:hover {
  color: var(--thirt-color);
  background-color: var(--span-logo-color);
  cursor: pointer;

}
.image-list-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--primary-color);
}
.image-list-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: var(--secondary-color);
}